set timeout=5
menuentry "Linux" {
    echo load kernel
    linux /vmlinuz-6.12.30-zenith quiet splash panic=0
    echo load initramfs
    initrd /initrd.cpio.gz /kernel_modules.cpio.gz
    echo boot
}

submenu "Power ->" --class power {
    menuentry "reboot" {
        reboot
    }

    menuentry "shutdown" {
        halt
    }

    menuentry "UEFI Firmware Setup" {
        fwsetup
    }
}

menuentry "USB Mass Storage" {
    linux /linux-usb-daget_ssh_123456.efi
}
